<h1>All The Campers</h1>

<ul>
  <% @campers.each do |camper| %>
    <li><%= link_to camper.name, camper_path(camper) %></li>
  <% end %>
</ul>
<br>
<%= button_to "Register New Camper", new_camper_path, method: :get %>
<br>
<%= button_to "Check out Activity Index", activities_path, method: :get %>